@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors: */
/* 97D8DA Lighter Aqua */
/* 008F95 Aqua*/
/* 06444A Darker Aqua*/

.landing {
    background-image: url('https://th.bing.com/th/id/R.a0720f3d5b937cd9511cca7bcad66b3c?rik=1fK0QpW50eH3Wg&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center;
}

.deal-1{
    background-image: url('https://www.worldofsnacks.com/uploads/1/3/1/2/13127180/s643667121527569464_c65_i2_w394.jpeg');
    background-blend-mode: darken;
    background-color: lightgrey;
    background-size: cover;
}

.deal-2{
    background-image: url('https://www.worldofsnacks.com/uploads/1/3/1/2/13127180/s643667121527569464_c67_i1_w500.jpeg');
    background-blend-mode: darken;
    background-color: lightgrey;
    background-size: cover;
}

.deal-3{
    background-image: url('https://www.worldofsnacks.com/uploads/1/3/1/2/13127180/s643667121527569464_c66_i1_w500.jpeg');
    background-blend-mode: darken;
    background-color: lightgrey;
    background-size: cover;
}

.deal-4{
    background-image: url('https://www.worldofsnacks.com/uploads/1/3/1/2/13127180/s643667121527569464_c69_i2_w366.jpeg');
    background-blend-mode: darken;
    background-color: lightgrey;
    background-size: cover;
}

.deal {
    position: relative;
}

.product__img:hover .product__button {
    opacity: 1;
}

@media (max-width: 930px) {
    .menu-links {
        display: none;
    }
    .dropdown-button {
        display: flex !important;
    }
    .deal {
        width: 50vw !important;
    }
    .cart-wrapper {
        width: calc(40vw);
        height: calc(40vw);
    }
    .product__img {
        width: 35vw;
        height: 30vw;
    }
    .product__button {
        right: 10vw;
    }
    .day-deals {
        flex-wrap: wrap
    }
    .day-deal {
        width: 100%;
        margin-bottom: 1rem;
    }
    .best-selling-cart {
        width: 50%;
    }
    .carousel-wrapper {
        width: 100%;
    }
}