@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors: */
/* 97D8DA Lighter Aqua */
/* 008F95 Aqua*/
/* 06444A Darker Aqua*/

.landing {
    background-image: url('https://th.bing.com/th/id/R.a0720f3d5b937cd9511cca7bcad66b3c?rik=1fK0QpW50eH3Wg&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center;
}

.deal-1{
    background-image: url('https://www.worldofsnacks.com/uploads/1/3/1/2/13127180/s643667121527569464_c65_i2_w394.jpeg');
    background-blend-mode: darken;
    background-color: lightgrey;
}

.deal-2{
    background-image: url('https://www.worldofsnacks.com/uploads/1/3/1/2/13127180/s643667121527569464_c67_i1_w500.jpeg');
    background-blend-mode: darken;
    background-color: lightgrey;
}

.deal-3{
    background-image: url('https://www.worldofsnacks.com/uploads/1/3/1/2/13127180/s643667121527569464_c66_i1_w500.jpeg');
    background-blend-mode: darken;
    background-color: lightgrey;
}

.deal-4{
    background-image: url('https://www.worldofsnacks.com/uploads/1/3/1/2/13127180/s643667121527569464_c69_i2_w366.jpeg');
    background-blend-mode: darken;
    background-color: lightgray;
}

.deal {
    position: relative;
}

@media (max-width: 930px) {
    .menu-links {
        display: none;
    }
    .dropdown-button {
        display: flex !important;
    }
    .deal {
        width: 50vw !important;
    }
}